<section class="cards-section personalized-menu-with-button-section">
  <div class="cards-container">
    <div class="card card-personalized">
      <div class="card-personalized-wrapper">
        <div class="card-personalized-titles">
          <div class="card-personalized-super-title">СТОИМОСТЬ РАЗРАБОТКИ</div>
          <div class="card-personalized-title">УЗНАЙТЕ ДЕТАЛИ У МЕНЕДЖЕРА</div>
        </div>
        <div class="card-personalized-description">Стоимость разработки будет зависеть от уровня кастомизации. Свяжитесь с нами, чтобы мы смогли подобрать идеальное решение.</div>
        <div class="card-personalized-image">
          <img src="{{'manager_small.jpg' | asset_url}}" alt="Менеджер" class="personalized-menu-img">
        </div>
        <a href="/page/individual-program" class="black-btn">Связаться с менеджером</a>
      </div>
    </div>
    <div class="card">
      <img src="{{'manager.jpg' | file_url}}" alt="Менеджер" class="card-image">
    </div>
  </div>
</section>