<div class="program-card program-card-large" data-category="individual">
    <div class="program-content">
        <h3 class="program-large-title">HOW TO EAT — <br>УМЕНИЕ ПИТАТЬСЯ ОСОЗНАННО</h3>
        <p class="program-description">Мы здесь, чтобы поддерживать ваши полезные привычки</p>
        <a href="programs.html" class="add-to-cart-btn">Подобрать программу питания</a>
    </div>
</div>
