<div class="program-card program-card-large" data-category="individual">
    <div class="program-content">
        <h3 class="program-large-title">{{ widget_settings.title }}</h3>   
        <p class="program-description">{{ widget_settings.subtitle }}</p>
        <a href="{{ widget_settings.button_link }}" class="add-to-cart-btn">{{ widget_settings.button_text }}</a> 
    </div>
</div>
