<section class="how-it-works-section your-status-section">
    <div class="how-it-works-container">
        <div class="how-it-works-content">
            <div class="how-it-works-card">
                <div class="how-it-works-inner">
                    <div class="how-it-works-header">
                        <h2 class="how-it-works-title">ВАШ СТАТУС</h2>
                    </div>
                    
                    <div class="how-it-works-steps">
                        <div class="step-item">
                            <div class="step-number">01</div>
                            <p class="step-description">Активен в течение года</p>
                        </div>
                        
                        <div class="step-item">
                            <div class="step-number">02</div>
                            <p class="step-description">Чтобы сохранить уровень нужно накопить необходимую сумму за 3 месяца до окончания действия статуса, либо совершать хотя бы одну покупку в месяц</p>
                        </div>
                        
                        <div class="step-item">
                            <div class="step-number">03</div>
                            <p class="step-description">Если активность снизится, то ваш статус вернется на уровень LINEN. Повысить его можно, совершив новый заказ</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="how-it-works-image">
                <img src="{{'kak-rabotayet.jpg' | asset_url}}" alt="Ваш статус">
            </div>
        </div>
    </div>
</section>