<div class="page-header-section">
  <div class="page-header-container">
      <div class="page-header">
        <div class="page-header-super-title">{{ widget_settings.super_title }}</div>
        <h1 class="page-header-title">{{ widget_settings.title }}</h1>
        <p class="page-header-subtitle">{{ widget_settings.subtitle }}</p>
      </div>
  </div>
</div>