<section class="cards-section">
  <div class="cards-container">
    
    <div class="card card-content">
      <div class="card-content-wrapper">
        <div class="card-super-title">HOW TO GREEN</div>
        <div class="card-text-content">
          <h2 class="card-title">Есть нюансы?</h2>
          <p class="card-subtitle">Диета, аллергия, нелюбимый продукт? Расскажите об&nbsp;этом нашему менеджеру, чтобы ваш рацион полностью соответствовал предпочтениям</p>
        </div>
        <button class="white-btn">Связаться</button>
      </div>
    </div>
    
    <div class="card">
      <img src="{{ 'zaputalis.jpg' | file_url }}" alt="Card background image" class="card-image">
    </div>
  </div>
</section> 