<section class="cards-section cards-light-color">
  <div class="cards-container">
    <div class="card card-content">
      <div class="card-content-wrapper">
        <div class="card-super-title">HOW TO EAT</div>
        <div class="card-text-content">
          <h2 class="card-title">О нас</h2>
          <p class="card-subtitle">Сервис по доставке здоровых рационов — для тех, кто ценит удобство, качество, вкус и выбирает осознанный подход в питании</p>
        </div>
        <button class="white-btn">Читать далее</button>
      </div>
    </div>
    <div class="card">
      <img src="{{'card-bg.jpg' | asset_url}}" alt="Card background image" class="card-image">
    </div>
  </div>
</section>