<section class="pricing-section" style="background-image: url({{ 'bg-grey-4.jpg' | file_url }});">
  <div class="pricing-content">
    <h2 class="pricing-title">Стоимость разработки</h2>
    
    <div class="pricing-plans">
      <div class="pricing-plan">
        <div class="plan-header">
          <div class="plan-name">Базовый план</div>
          <div class="plan-price">3 000 ₽</div>
        </div>
        <div class="plan-description">Учет предпочтений и ограничений</div>
      </div>
      
      <div class="pricing-plan">
        <div class="plan-header">
          <div class="plan-name">Расширенная</div>
          <div class="plan-price">5 000 ₽</div>
        </div>
        <div class="plan-description">Персональное меню + консультация с шефом</div>
      </div>
      
      <div class="pricing-plan">
        <div class="plan-header">
          <div class="plan-name">Полный индивидуальный план</div>
          <div class="plan-price">8 000 ₽</div>
        </div>
        <div class="plan-description">Гибкое меню, подбор продуктов, сопровождение</div>
      </div>
    </div>
    
    <button class="add-to-cart-btn" type="button">
      Обсудить с менеджером
    </button>
  </div>
</section>