<section class="cards-section personalized-menu-section about-founder cards-light-color">
    <div class="cards-container">
        <div class="card card-personalized">
            <div class="card-personalized-wrapper">
                <div class="card-personalized-titles">
                    <div class="card-personalized-super-title">Создательница сервиса</div>
                    <div class="card-personalized-title">САША НОВИКОВА</div>
                </div>
                <div class="card-personalized-description">Визионер в области осознанной гастрономии, автор кулинарных книг и создательница wellness-проекта How to Green. Ее цель — вдохновить людей на формирование новых здоровых привычек в питании. Через полезные рационы и осознанный подход к еде — к заботе о себе как органичной части вашей повседневности.</div>
            </div>
        </div>
        <div class="card">
            <img src="{{'about-sasha.jpg' | file_url}}" alt="Саша Новикова" class="card-image">
        </div>
    </div>
</section>