<section class="cards-section personalized-menu-section cards-light-color">
  <div class="cards-container">
    <div class="card card-personalized">
      <div class="card-personalized-wrapper">
        <div class="card-personalized-titles">
          <div class="card-personalized-super-title">Индивидуальный подход</div>
          <div class="card-personalized-title">ПЕРСОНАЛЬНОЕ МЕНЮ ОТ ШЕФА</div>
        </div>
        <div class="card-personalized-image">
          <!--// <img src="{{'chef_small.jpg' | asset_url}}" alt="Шеф-повар" class="personalized-menu-img"> //-->
        </div>
        <div class="card-personalized-description">How to Eat станет вашим culinary-куратором. Бренд-шеф создаст персонализированное меню с учетом ваших вкусовых предпочтений, образа жизни и целей. Баланс пользы и гастрономического удовольствия каждый день.</div>
      </div>
    </div>
    <div class="card">
      <img src="{{'pers-menu.jpg' | file_url}}" alt="Шеф-повар" class="card-image">
    </div>
  </div>
</section>