<section class="pets-expert-help">
  <div class="pets-expert-help-container" style="background-image: url({{ 'chef.jpg' | asset_url }})">
    <div class="pets-expert-help-content">
      <div class="pets-expert-help-header">
        <h2 class="pets-expert-help-title">Запутались?</h2>
        <p class="pets-expert-help-description">
          Наш менеджер поможет выбрать правильный рацион для вашего питомца
        </p>
      </div>
      
      <div class="pets-expert-help-button">
        <button class="transparent-button">
          <span class="button-text">Выбрать программу с экспертом</span>
          <img class="button-arrow" src="{{ 'arrow-1.svg' | asset_url }}" alt="Arrow"> 
        </button>
      </div>
    </div>
  </div>
</section>