<!-- Hero Section -->
<section class="hero-section">
  <div class="hero-content">
    <div class="hero-text-group">
      <h1 class="hero-title">Сервис доставки здорового&nbsp;питания</h1>
      <p class="hero-subtitle">Сбалансированные рационы из натуральных продуктов высокого&nbsp;качества. Гастрономия с заботой о себе.</p>
    </div>
    <a href="collection/programmy" class="add-to-cart-btn">Выбрать программу питания</a>
  </div>
</section> 

<style>
  body {
    padding-top: 0 !important;
  }
</style>