<section class="cards-section personalized-menu-section about-how-we-create-menu cards-light-color">
  <div class="cards-container">
    <div class="card card-personalized">
      <div class="card-personalized-wrapper">
        <div class="card-personalized-titles">
          <div class="card-personalized-super-title">НАУЧНЫЙ ПОДХОД</div>
          <div class="card-personalized-title">КАК МЫ СОЗДАЕМ МЕНЮ</div>
        </div>
        <div class="card-personalized-description">Команда нутрициологов и шеф-поваров спроектировала рационы с идеальным балансом микроэлементов. Каждое меню — это точный расчёт БЖУ по стандартам ВОЗ. Мы совершенствуем наши программы с учётом новых исследований, добавляем сезонные ингредиенты и не используем готовые соусы или полуфабрикаты.</div>
      </div>
    </div>
    <div class="card">
      <img src="{{'zero.jpg' | file_url}}" alt="Шеф-повар" class="card-image">  
    </div>
  </div>
</section>