<div class="error-container">
    <div class="error-content">
        <h1 class="error-title">404</h1>
        <h2 class="error-subtitle">ОЙ, КАЖЕТСЯ, ЧТО-ТО ПОШЛО НЕ ТАК...</h2>
        <p class="error-description">
            Попробуйте обновить страницу или вернуться на главную — там точно всё на месте!
        </p>
        <div class="error-actions">
            <a href="/" class="btn">Вернуться на главную</a>
        </div>
    </div>
</div>