<div class="loyalty-program-section">
  <div class="loyalty-program-container">
    <div id="page-header">
      <div class="page-header">
        <div class="page-header-super-title">Членство в клубе How to Eat</div>
        <h1 class="page-header-title">СТАТУС ОПРЕДЕЛЯЕТ СУММА ЗАКАЗОВ ЗА ПОСЛЕДНИЕ 3 МЕСЯЦА</h1>
        <p class="page-header-subtitle">Мы смотрим на ваш ритм — не важно сделали ли вы один большой заказ или совершили несколько небольших покупок. Как только сумма достигнет нужного предела, вы получите соответствующий уровень. Полученный статус будет действовать в течение года.</p>
      </div>
    </div>
  </div>
</div>